.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
data/raw/
data/interim/
data/processed/
!data/.gitkeep
notebooks/.ipynb_checkpoints/
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
.vscode/
.idea/
fazer.txt
link_dataset_kaggle.txt
*.egg-info/
build/
dist/